# Auto detect text files and perform LF normalization
* text=auto
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.vsconfig filter=lfs diff=lfs merge=lfs -text
*.csproj filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.pyxel filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.unity filter=lfs diff=lfs merge=lfs -text
*.sln filter=lfs diff=lfs merge=lfs -text
*.graph filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/AnnotationManager filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/ArtifactDB-lock filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.dag filter=lfs diff=lfs merge=lfs -text
*.outputdata filter=lfs diff=lfs merge=lfs -text
*.dag_derived filter=lfs diff=lfs merge=lfs -text
*.dag_fsmtime filter=lfs diff=lfs merge=lfs -text
*.state filter=lfs diff=lfs merge=lfs -text
*.map filter=lfs diff=lfs merge=lfs -text
*.traceevents filter=lfs diff=lfs merge=lfs -text
*.info filter=lfs diff=lfs merge=lfs -text
*.digestcache filter=lfs diff=lfs merge=lfs -text
*.prefs filter=lfs diff=lfs merge=lfs -text
*.asset filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.bhc filter=lfs diff=lfs merge=lfs -text
*.signature filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.uxml filter=lfs diff=lfs merge=lfs -text
*.uss filter=lfs diff=lfs merge=lfs -text
*.shader filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.2d.animation@7.0.10/Editor/SkinningModule/Lib/x86_64/BoundedBiharmonicWeightsModule.bundle/Contents/MacOS/BoundedBiharmonicWeightsModule filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.2d.animation@7.0.10/Editor/SkinningModule/Lib/x86_64/BoundedBiharmonicWeightsModule.bundle/Contents/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
*.asmdef filter=lfs diff=lfs merge=lfs -text
*.prefab filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/207A89C76C3730EA filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/43FFF67504C1B77C filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/66B6680AF8A7451D filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/B4B9E3881B00232E filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/D9186C53EA4CD61E filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.config filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/dsymutil filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/lld filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostlin/llvm-lipo filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/lld filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.burst@1.6.6/.Runtime/hostmac/llvm-lipo filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.asmref filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.collabattributes filter=lfs diff=lfs merge=lfs -text
*.collabignore filter=lfs diff=lfs merge=lfs -text
*.yml filter=lfs diff=lfs merge=lfs -text
*.editorconfig filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.ide.visualstudio@2.0.18/Editor/Plugins/AppleEventIntegration.bundle/Contents/MacOS/AppleEventIntegration filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.ide.visualstudio@2.0.18/Editor/Plugins/AppleEventIntegration.bundle/Contents/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.mathematics@1.2.6/Unity.Mathematics/Noise/LICENSE filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageCache/com.unity.mathematics@1.2.6/Unity.Mathematics/Noise/README filter=lfs diff=lfs merge=lfs -text
*.ModuleCompilationTrigger filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.cginc filter=lfs diff=lfs merge=lfs -text
*.unitypackage filter=lfs diff=lfs merge=lfs -text
*.po filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
*.release filter=lfs diff=lfs merge=lfs -text
*.mdb filter=lfs diff=lfs merge=lfs -text
*.defines filter=lfs diff=lfs merge=lfs -text
*.ai filter=lfs diff=lfs merge=lfs -text
*.afphoto filter=lfs diff=lfs merge=lfs -text
*.g filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/PackageManager/ProjectCache filter=lfs diff=lfs merge=lfs -text
*.md5 filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/ScriptMapper filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.st filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/ShaderCache/EditorEncounteredVariants filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/SourceAssetDB filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/SourceAssetDB-lock filter=lfs diff=lfs merge=lfs -text
*.catalog filter=lfs diff=lfs merge=lfs -text
/Dinosaur[[:space:]]Abyss/Library/expandedItems filter=lfs diff=lfs merge=lfs -text
*.dwlt filter=lfs diff=lfs merge=lfs -text
*.settings filter=lfs diff=lfs merge=lfs -text
